body {
  background-color: #2C2B3D;
  margin: 0 0 0;
  font-family: "JetBrains Mono", monospace;
  color: #FFF;
}

.page {
  
  width: 1280px;
  margin: 0 auto 0;
} 

nav {
  padding-top: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 90px 90px 200px;
}

ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul li a:hover {
  color: #00BFA6;
}

main {
  gap: 100px;
  margin: 0 100px 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
main h1 {
  font-size: 36px;

}

main #texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #texto p {
  color: #C2C2C2;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;

}

footer {
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:hover {
  color: #00BFA6;
}


#spancolor {
  color: #00BFA6;
}
#spanbold {
  font-weight: bold;
}
#spanboth {
  font-weight: bold;
  color: #00BFA6;
}
